body {
	font-family: $font-default;
	font-size:16px;
}
img {
	width:100%;
}
h1, h2, h3, h4 {
	color: $green;
	text-transform: uppercase;
	font-weight: 500;
	text-align: center;
}
h1 {
	font-size:22px;
}
h2, .like-h2 {
	font-size:22px;
}
h3 {
	font-size:18px;
}
.section-title {
	border: 1px solid $black;
	padding: 8px 20px 12px; 
	font-size: 2em;
	font-weight: 700;
	text-align: center;
	background: $white;
	display: inline-block;

}

.top20 {
	margin-top: 20px;
}
.top40 {
	margin-top: 40px;
}
.bottom20 {
	margin-bottom: 20px;
}
.bottom40 {
	margin-bottom: 40px;
}

.top-20 {
	margin-top: -20px;
}
.top-40 {
	margin-top: -40px;
}
.top-80 {
	margin-top: -80px;
}
header {
	position: fixed;
    width: 100%;
    height: 190px;
    z-index: 100;
    background-color: $white;

}
main {
	position: relative;
    padding-top: 230px;
}
.main_logo {
	display: flex;
	margin-top: 10px;
	justify-content: space-between;
	padding-bottom: 0px;

	.logo_image {
		width: 206px;

	}
	.site_title {
		color: $green;
		font-size: 1.8em;
		width: calc(100% - 206px);
		text-align: center;
		align-self: flex-end;

	}
}
.main-nav-block {
	width: 100%;
    background: #cbdcd1;
    display: flex;
    margin-top: 10px;
    border-top: 10px solid $white;
    box-shadow: 0 -2px 0 0 #a8c8b4;

	.main-nav {
		margin: 0;
		padding: 0;
		list-style: none;
		flex: 4

	}

	.search-bar {
		flex: 1;
	}


}

.main_slider {
	position: relative;
}
.slider_background {
// position: absolute;
 z-index: 5;
 height: 390px;
}
.first-level-menu {
	background-color: #69a17e;
	height: 50px;
}
.first-level {
	display: flex;
	justify-content: space-between;
}
.first-nav {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: flex-start;
	li {
		flex-basis: 170px;
		height:50px;
		text-align: center;
		width: 170px;
		a {
			line-height: 48px;
			color: $white;	
			font-size: 0.8em;
			text-transform: uppercase;
			padding: 20px 0px;
			position: relative;
			&:after {
				content: '';
				position: absolute;
				border-bottom: 1px dashed;
				bottom: 20px;
			    width: 100%;
			    height: 2px;
			    left: 0;
			}
			&:hover {
				text-decoration: none;
			}
		}
	 }

	 .cabinet {
		background-color: #cbdcd1;
		a {
			background: url('../img/key-ico.png') no-repeat 0 50%;
			color: $black;
			padding-left: 20px;
		}
	 }
	 .top_enroll {
		background-color: #528c74;
	 }
	 .top_ask {
	 	background-color: #cbdcd1;
	 	a {
			color: $black;
		}

	 }
	 .top_callback {
	 	background-color: #69a17e;

	 }
	 .top_phone {}

}
.top_phone {
	position: relative;
	flex-basis: 240px;
	.ico24h {
		background: url('../images/24.svg');
		width: 56px;
		height: 67px;
		display: block;
		z-index: 33;
		float: left;
		position: relative;
		background-size: cover;

	}
	a {
		color: $white;
		display: block;
	    float: right;
	    height: 50px;
	    line-height: 48px;
	    font-size: 1.26em;

		span {
			font-weight: 700;
		}
	}
}
.slider_content {
	position: absolute;
	z-index:10;
	background: $corall;
	width: 600px;
	height: auto;
	top: calc((100% - 200px) / 2);
	left: calc((100% - 600px) / 2);
	padding: 20px;
	color: $white;
	border: 1px solid $white;
}
.main_directions {
	padding: 30px 0 40px;
	background: url('../img/trianglebg.png') no-repeat center top;
	background-size: cover;
}
.slider_counter {
	font-size: 0.9em;
	font-style: italic;
}
.slider_title {
	font-size: 2em;
	font-weight: 700;

}
.slider_text {
	font-size: 0.9em;
	margin-bottom: 8px;
}
.slider_more {
	
float: left;
margin-right: 20px;

	a {
		display: block;
		background: url('../img/readmorebg.png') no-repeat 0 0;
		width: 124px;
		height: 27px;
		color: #a7a8a8;
		padding-left: 34px;
		text-decoration: none;
		font-size: 0.9em;
		font-weight: 400;
		line-height: 1.8em;
	}
}
.slider_enroll {
	float: left;
	font-size: 0.9em;
	a {
		color: $white;
		text-decoration: underline;
	}
}
.directions_list {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	text-transform: uppercase;

	.direction {
		display: block;
		margin-bottom: 20px;


		a {
			display: flex;
			color: $white;
			background: #69a17e;
			box-shadow: inset 0 -10px 15px -4px #6c6c6c;
			width: 325px;
			height: 90px;
			border: 1px solid $white;
			align-items: center;
		}
		img {
			width: 88px;
			height: 88px;
			background: $corall;
			float: left;
			border-right: 1px solid $white;

		}
		span {
			text-align: center;
			display: block;
    		margin: 0 auto;
		}
	}
}
.round_sections {
	margin:40px 0 ;
	padding: 30px 0;

	.sections_round {
		display: block;
	}

	.onkoginecology, .onkourology, .onkomamma,.onkogastro, .onkoderma {
		width: 215px;
		height: 215px;
		display: inline-block;

		a {
			line-height: 25px;
			display: table-cell;
		    color: $green;
		    word-break: break-word;
		    text-align: center;
		    width: 215px;
			height: 215px;
			vertical-align: middle;
		}
	}

	.onkoginecology {
		
		background: url('../img/onkoginecology.png') no-repeat center center;
	}
	.onkourology{
		
		background: url('../img/onkourology.png') no-repeat center center;
	}
	.onkomamma{
		
		background: url('../img/onkomamma.png') no-repeat center center;
	}
	.onkogastro{
		
		background: url('../img/onkogastro.png') no-repeat center center;
	}
	.onkoderma{
		width: 215px;
		height: 215px;
		display: inline-block;
		background: url('../img/onkoderma.png') no-repeat center center;
	}
}

.form_enroll {
	background: $green url('../img/enrollbg.png') no-repeat center center;
//	height: 280px;
	margin:40px 0 100px;
	padding: 30px 0;
	color: $white;

	a {
		color: $white;
		text-decoration: underline;
	}

	
.enroll {
	width: 360px;
	background: #cbdcd1;
	border: 2px solid $white;
	border-radius: 4px;
	padding: 10px;

	
}
input {
		width: 100%;
		height: 50px;
		padding: 8px;
		box-sizing: border-box;
		margin-bottom: 10px;
		color: $light-green;
		text-transform: uppercase;
		font-size: 0.9em;
		font-weight: 500;

	}

	button {
		width: 100%;
		height: 50px;
		background: #f2784b;
		border: 1px solid $white;
		color: $white;
		border-radius: 4px;
		text-transform: uppercase;
		font-size: 0.9em;
		font-weight: 500;
		cursor: pointer;

	}

}
.like-h2 {
		font-weight: 700;
		text-transform: uppercase;
	}
.ourspecialists {
	background: #adcab8;
	padding: 40px 0;

	.specialists__slider {
		margin-top: 20px;
		padding-left: 15px;

		.owl-nav {
			position: absolute;
    		top: 30%;
    		font-size: 4em;
    		font-weight: 500;
    		width: 100%;
    		outline: none;

    		.owl-prev {
    			position: absolute;
    			left: -20px;
    			outline: none;
    		}
    		.owl-next {
    			position: absolute;
    			right: 20px;
    			outline: none;
    		}
		}

	}
	.specialist__item {
		width: 200px;
		background: $white;
		padding:10px;
		box-sizing: border-box;
		border-radius: 4px;
		text-align: left;
		display: inline-block;

		a { 
			display: block;
			color: $green;
		}
	}
	.doctor__name {
		font-weight: 600;
		font-size: 0.9em;
		text-transform: uppercase;
		margin: 8px 0;
	}
	.doctor__spec {
		font-size: 0.9em;
	}

	.section-title {
		i {
			width: 16px;
			height: 28px;
			background: url('../img/toright.jpg') no-repeat center;
			display: inline-block;
			margin-right: 10px;
			margin-left: 10px;
			margin-bottom: -4px;
		}

		a {
			font-size: 0.6em;
			font-weight: 500;
			text-decoration: underline;
			color: $black;
		}
	}
}


.avdicotxt {
	position: relative;
	margin: 40px;
	padding-top: 40px;
	text-align: center;
}
.avd-icotxt{
	position: relative;
//	background-color: $lighter-green;
	width: 100%;
	margin: 0 auto;
	height: 250px;
	box-sizing: border-box;
    padding: 90px 15px 15px;
    text-align: center;

	&-one {
		background: url('../img/icotxt-one.png') no-repeat;
		background-size: cover;
	}
	&-two {
		background: url('../img/icotxt-two.png') no-repeat;
		background-size: cover;
	}
	&-three {
		background: url('../img/icotxt-three.png') no-repeat;
		background-size: cover;
	}
	&-four {
		background: url('../img/icotxt-four.png') no-repeat;
		background-size: cover;
	}
	&-five {
		background: url('../img/icotxt-five.png') no-repeat;
		background-size: cover;
	}
	&-six {
		background: url('../img/icotxt-six.png') no-repeat;
		background-size: cover;
	}
	&:nth-child(n+3) {
		margin-top: -20px;
	}

	.block-title {
		font-weight: 700;
	}
	p {
		font-size: 0.9em;
	}
}



.bottom-map {
	position: relative;
	margin-top: 20px;
}
.map__legend {
	width: 360px;
	height: auto;
	position: absolute;
	top: 100px;
	padding: 25px;
	background-color: $white;
	border-radius: 8px;

	img {
		margin-bottom: 15px;
	}
	p {
		font-size: 0.9em;
		margin-bottom: 0.4em;
	}
	span {
		font-weight: 600;
	}
}
.footer {
	background-color: $green;
	padding: 20px 0;
	color: $white;
	font-size: 0.9em;

	a {
		color: $white;
	}

	ul {
		margin: 0;
		padding: 0;
		list-style: none;

		.social {
			list-style: none;
			 li {
			 	display: inline-block;
			 }
		}
	}

	.legal-offer {
		font-size: 0.74em;
		padding: 20px 0;
	}
	&_phone {
		font-size: 1.5em;

		span {
			font-weight:600;
		}
	}
	&-col__title {
		font-weight: 600;
		margin-bottom: 15px;
		font-size: 1.2em;
	}
	.col-lg-3 {
		border-right: 1px solid $white;
	}
}
.content_header {
	height: 300px;
}
.content__header {
	background: #69a17e;
	height: 250px;
	position: relative;
	color: $white;

	.header__image {
		margin-top: 40px;
	}
	.header__title {
		height: 80px;
		background: $corall;
		
		font-weight: 700;
		font-size: 1.8em;
	    margin-left: -30px;
	    padding: 6px 30px;
	    margin-top: -40px;
	    margin-right: 30px;
	    margin-bottom: 20px;
	    color:#fff;
	}
	.header__intro {
		font-size: 0.9em;
		padding-right: 30px;
		margin-bottom: 10px;
		height: 126px;
		overflow: hidden;
	}
	.header__askbtn {


		a {
			color: $white;
			border: 1px solid #19513a;
			background: #3a6a56;
			padding: 4px 12px 5px;
			display: inline-block;

			&:hover {
				text-decoration: none;
				background: #19513a;
			}
		}
	}
}
.red_enroll {
	background: $corall;

	button {
		background: $green;
	}

}
.enroll_horizont {
	text-align: center;
}
.form_enrollme {

}
.specialists {
	list-style: none;

	.specialist__item {

		margin-right:20px;
		margin-bottom: 20px;
		&:nth-child(3n) {
			margin-right: 0;
		}
		.specialist_enroll {
			text-align: center;
			margin: 10px auto 0;
			background: $corall;
			color: $white;
			padding: 4px 10px 5px; 
			text-transform: uppercase;
		}
	}


}
.specialist__txt {
		font-size: 0.8em;
		font-weight: 500;
	}
.doctors_label {
	background: #69a17e;
	color: $white;
	font-weight: 700;
	margin-left: -70%;
    padding-left: 70%;
    padding-top: 12px;
    padding-bottom: 12px;
}
.doctors_counter {
	margin-top: 20px;
	
	
	font-size: 0.8em;

	a {
		color: $black;
		span {
		text-decoration: underline;
	}
	}

	sup {
		background: $corall;
		padding: 2px 3px 2px 2px;
		text-decoration: none;
		color: $white;
		top: -10px;
	}

}
.footer {
	font-size: 0.9em;
}
.footer-col__title {
	font-weight: 600;
	margin-bottom: 15px;
	font-size: 1.2em;
}
.footer_menu {
	
}

a.footer_phone {
    font-size: 1.4em;
}
a.footer_phone span {
	font-weight:600;
}

.social {
			list-style: none;
			 
		}
		
.social li {
	display: inline-block;
}

button.btn-custom-search.finder {
    background: none;
    border: none;
    position: absolute;
    right: 0px;
    padding: 8px;
}
.finder {
	position: relative;
}
input.sm-search {
	border: none;
	padding: 6px 12px;
	color: #a7a8a8;
	font-size: 0.9em;
	font-weight: 500;
}
.main-nav-block .navbar {
	margin: 0;
    padding: 0;
}
.main-nav-block .navbar-nav li, .main-nav-block .navbar-nav li a{
	color: #090909;
	font-weight: 500;
	padding: 14px 20px;
}
.main-nav-block .navbar-nav li:hover, .main-nav-block .navbar-nav li.active, .main-nav-block .navbar-nav li:hover a,  .main-nav-block .navbar-nav li.active a {
	background: #f2784b;
	color: #fff;
	text-decoration: none;
	
}

.pull-left.item-image {
    height: 250px;
    overflow: hidden;
}
.page-default {
	margin: 20px auto;
}
.triangle-bottom {
	background: url(../images/trianglebg.png) center bottom no-repeat;
    background-size: contain;
    padding-bottom: 140px;
}
.title-bold {
	font-size:1.2em;
	font-weight: 700;
/*	text-transform: uppercase; */
	margin: auto;
} 
.title-green {
	color: #4F7766;
	
}
.modal-header .close {
    padding: 15px;
    margin: -15px -15px -15px 0;
}
.fz152 {
	font-size:0.7em;
	padding-bottom: 0;
	margin-bottom: 0;
	margin-top: 4px;
}
.btn-green {
	background: #69A17E;
	width: 100%;
	color: #fff;
	text-transform: uppercase;
}
.green-bg input, .green-bg textarea {
	background: #E5EEE8;
	border-radius: 2px;
}
.modal-header {
	border-bottom: none;
}
.form-text {
	width: 100%;
	border-radius: 2px;
}
.gray-bg-form {
	background: #EBECEC;
}
.control-half {
	width: 49%;
	display: inline-block;
}
.page-contacts {
	margin-bottom: 20px;
}
.page-contacts h2, .page-contacts h3 {
	text-align: left;
	color: #090909;
}

.page-contacts h3 {
	border-bottom: 1px solid #69a17e;
	display: inline-block;
}
.clinic-contacts {
	margin-bottom: 20px;
}
.clinic-adress {
	background-image: url('../images/masshtab_kontakty.svg');
	background-position: center left;
	background-repeat: no-repeat;
    background-size: 16px;
    margin-bottom: 6px;
	padding-left: 25px;
	
}
.clinic-hours {
	background-image: url('../images/chasy_raboty_kontakty.svg');
	background-position: center left;
	background-repeat: no-repeat;
    background-size: 16px;
    margin-bottom: 6px;
	padding-left: 25px;
	font-weight: 700;
}
.content__header .header__title {
	text-align: left;
	font-size: 1.48em;
}

.left-menu {
	width: 100%;

}

.leftmenu__title {
	background: #69a17e;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	padding: 12px 15px;
	line-height: 1.1em;
	margin-bottom: 4px;
}
.left-menu ul li {
	width: 100%;
	margin-bottom: 7px;
	height: 48px;
	
}
.left-menu ul li a {
	width: 100%;
	color: #69a17e;
	height: 48px;
	padding: 0;
	display: flex;
	align-items: center;
	text-decoration: none;
	border: 1px solid #69a17e;
	line-height: 1em;
}
.left-menu ul li a:hover {
	background: #69a17e;
	color: #fff;
}

.fil1 {
    fill: none!important;
}
.fil0 {
    fill: #3A6A56!important;
}

.left-menu ul li a:hover svg path {
	fill:#fff!important; 
}
.left-menu ul li a img, .left-menu ul li a svg {
	height: 48px;
	float: left;
	width: auto;
}
.padding-right-none {
	padding-right: 0px;
}
.content_header {
    margin-bottom: 40px;
}
.page-uslugi .uslugi-menu {
	justify-content: space-evenly;
}
.page-uslugi .uslugi-menu li {
	width: 30%;
	height: 48px;
	 margin-top: 20px;
	
}
.page-uslugi .uslugi-menu li a {
	color: #3a6a56;
	display: flex;
    align-items: center;
    
}
.page-uslugi .uslugi-menu li a img, .page-uslugi .uslugi-menu li a svg {
	height: 48px;
	float: left;
	width: auto;

}

 .category {
 margin-bottom:40px;
 }
 .navbar-expand-lg .navbar-nav li {
 	position: relative;
 }
 ul.nav-child {
 	position: absolute;
    padding: 0;
    margin: 0;
    list-style: none;
    width: auto;
    background: #fff;
    border-radius: 1px;
    box-shadow: 5px 5px 10px 0px rgba(153,153,153,1);
    display: none;
    min-width: 160px;
    max-width: 260px;
}

li.deeper.parent:hover  ul.nav-child {
	display: block;
}
.form-search {margin: auto;}