doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		title Центр онкологии
		meta(name='description', content='')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		link(rel='stylesheet', href='css/template.css')
	body
		header
			nav.first-level-menu
				div.container.first-level
					ul.first-nav
						li.cabinet
							a(href='#') Личный кабинет
						li.top_enroll
							a(href='#') Записаться на прием
						li.top_ask
							a(href='#') задать вопрос
						li.top_callback
							a(href='#') обратный звонок
					div.top_phone
						i.ico24h
						a(href='tel:+78124355555') +7 (812) #[span 435 55 55]
			div.main_logo.container
				div.logo_image
					a(href='#')
						img(src='./img/logo.png')
				div.site_title ОНКОЛОГИЧЕСКИЙ ЦЕНТР В САНКТ-ПЕТЕРБУРГЕ
			div.main-nav-block
				div.container
					nav.navbar.navbar-expand-lg
						button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarTogglerDemo03', aria-controls='navbarTogglerDemo03', aria-expanded='false', aria-label='Toggle navigation')
							span.navbar-toggler-icon
						a.navbar-brand(href='#') Navbar
						#navbarTogglerDemo03.collapse.navbar-collapse
							ul.navbar-nav.mr-auto.mt-2.mt-lg-0
								li.nav-item.active
									a.nav-link(href='#')
										| Home 
										span.sr-only (current)
								li.nav-item
									a.nav-link(href='#') Link
							form.form-inline.my-2.my-lg-0
								input.form-control.mr-sm-2(type='search', placeholder='Search', aria-label='Search')
						//		button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search


		main
			section.main_slider.container
				div.slider_background
					img(src='./img/slide01.png')
				div.slider_content
					div.slider_counter <01/03>
					div.slider_title Таргетная терапия
					div.slider_text Таргетная терапия — один из современных и наиболее безопасных видов лекарственного противоопухолевого лечения. Препараты воздействуют только на ДНК опухолевых клеток, не затрагивая здоровые ткани.
					div.slider_more
						a(href='#') Подробнее
					div.slider_enroll
						a(href='#') Записаться
			section.content_header.container
				div.breadcrumbs
				div.content__header
					div.row
						div.header__image.col-sm-12.col-md-6.top40
							img(src='./img/header_img.jpg')
						div.header__txt.col-sm-12.col-md-6
							div.header__title Консультация онколога
							div.header__intro Онколог — это врач, который диагностирует доброкачественные и злокачественные (раковые) новообразования, назначает профилактику, лечение и наблюдает пациента с опухолевым pаболеванием на протяжении всей терапии и после нее (как правило, от 1 до 5 лет).
							div.header__askbtn 
								a(href='#') Задать вопрос
			
			section.main_directions
				div.container
					ul.directions_list
						li.direction
							a(href='#')
								img(src='./img/direction-ico.png')
								span КОНСУЛЬТАЦИЯ ОНКОЛОГА
						li.direction
							a(href='#')
								img(src='./img/direction-ico1.png')
								span ОНКОХИРУРГИЯ
						li.direction
							a(href='#')
								img(src='./img/direction-ico2.png')
								span СТАЦИОНАР
						li.direction
							a(href='#')
								img(src='./img/direction-ico3.png')
								span ДИАГНОСТИКА ОНКОЛОГИЧЕСКИХ ЗАБОЛЕВАНИЙ
						li.direction
							a(href='#')
								img(src='./img/direction-ico4.png')
								span ОНКОЛОГИЧЕСКИЙ КОНСИЛИУМ
						li.direction
							a(href='#')
								img(src='./img/direction-ico5.png')
								span ХИМИОТЕРАПИЯ

			section.round_sections 
				div.container
					div.row
						div.col.sections_round
							div.onkoginecology
								a(href='#') ОНКОГИНЕКОЛОГИЯ
							div.onkourology
								a(href='#') ОНКОУРОЛОГИЯ
							div.onkomamma
								a(href='#') ОНКОЛОГИИ #[br] МОЛОЧНОЙ ЖЕЛЕЗЫ
							div.onkogastro
								a(href='#') ОНКОЛОГИЯ #[br] ОРГАНОВ ЖКТ
							div.onkoderma
								a(href='#') ОНКОДЕРМАТОЛОГИЯ
							
			section.form_enroll
				div.container
					div.row
						div.col-sm-6
							p.like-h2 ЗАПИСАТЬСЯ НА ПРИЕМ
							p Нажимая на кнопку, я даю согласие на обработку своих персональных данных в соответствии с #[a(href='#') пользовательским соглашением].
						div.col-sm-6
							form.enroll
								input(type='text', name='name', placeholder='имя')
								input(type='tel', name='tel', placeholder='телефон')
								button записаться
			section.form_enroll.red_enroll
				div.container
					div.row
						div.col-sm-6
							p.like-h2 ЗАПИСАТЬСЯ НА ПРИЕМ
							p Нажимая на кнопку, я даю согласие на обработку своих персональных данных в соответствии с #[a(href='#') пользовательским соглашением].
						div.col-sm-6
							form.enroll
								input(type='text', name='name', placeholder='имя')
								input(type='tel', name='tel', placeholder='телефон')
								button записаться
			section.form_enroll.enroll_horizont
				div.container
					p.like-h2 Хотите мы вам перезвоним?
					form#enrollme
					div.row
						div.col-sm-12.col-md-4
							input(type='text', name='name', placeholder='имя')
						div.col-sm-12.col-md-4
							input(type='tel', name='tel', placeholder='телефон')
						div.col-sm-12.col-md-4
							button записаться
						div.col-sm-12
							p Нажимая на кнопку, я даю согласие на обработку своих персональных данных в соответствии с #[a(href='#') пользовательским соглашением].
			section.form_enroll.enroll_horizont.red_enroll
				div.container
					p.like-h2 Хотите мы вам перезвоним?
					form#enrollme
					div.row
						div.col-sm-12.col-md-4
							input(type='text', name='name', placeholder='имя')
						div.col-sm-12.col-md-4
							input(type='tel', name='tel', placeholder='телефон')
						div.col-sm-12.col-md-4
							button записаться
						div.col-sm-12
							p Нажимая на кнопку, я даю согласие на обработку своих персональных данных в соответствии с #[a(href='#') пользовательским соглашением].

			section.ourspecialists.top40
				div.container
					div.row
						div.col.align-self-center.top-80.text-center
							span.section-title Наши специалисты #[i] #[a(href='#') Все специалисты] 
					div.row 
						div.specialists__slider.owl-carousel.owl-theme
							div.specialist__item
								a(href='#')
									img(src='./img/photo.png')
									span.doctor__name ВОЛКОВ АНТОН МАКСИМОВИЧ #[br]
									span.doctor__spec врач-онколог
							div.specialist__item
								a(href='#')
									img(src='./img/photo.png')
									span.doctor__name ВОЛКОВ АНТОН МАКСИМОВИЧ #[br]
									span.doctor__spec врач-онколог
							div.specialist__item
								a(href='#')
									img(src='./img/photo.png')
									span.doctor__name ВОЛКОВ АНТОН МАКСИМОВИЧ #[br]
									span.doctor__spec врач-онколог
							div.specialist__item
								a(href='#')
									img(src='./img/photo.png')
									span.doctor__name ВОЛКОВ АНТОН МАКСИМОВИЧ #[br]
									span.doctor__spec врач-онколог
							div.specialist__item
								a(href='#')
									img(src='./img/photo.png')
									span.doctor__name ВОЛКОВ АНТОН МАКСИМОВИЧ #[br]
									span.doctor__spec врач-онколог
							div.specialist__item
								a(href='#')
									img(src='./img/photo.png')
									span.doctor__name ВОЛКОВ АНТОН МАКСИМОВИЧ #[br]
									span.doctor__spec врач-онколог

			section.ourspecialists.top40
				div.container
					div.row
						div.col.align-self-center.top-80.text-center
							span.section-title Наши специалисты #[i] #[a(href='#') Все специалисты] 
					div.row.top40
						div.col-md-3
							p.specialist__txt Записаться на прием онколога в «СМ-Клиника» вы можете круглосуточно, позвонив по телефону в Санкт-Петербурге +7 (495) 127-63-50 или заполнив форму обратной связи
							div.doctors_label
								p В нашем центре 11 врача проводят консультации
							div.doctors_counter
								a(href='#') #[span Все специалисты] #[sup 14]
						div.col-sm-12.col-md-8
							ul.specialists
								li.specialist__item
									a(href='#')
										img(src='./img/photo.png')
										span.doctor__name ВОЛКОВ АНТОН МАКСИМОВИЧ #[br]
										span.doctor__spec врач-онколог
									a.specialist_enroll(href='#') Записаться
								li.specialist__item
									a(href='#')
										img(src='./img/photo.png')
										span.doctor__name ВОЛКОВ АНТОН МАКСИМОВИЧ #[br]
										span.doctor__spec врач-онколог
									a.specialist_enroll(href='#') Записаться
								li.specialist__item
									a(href='#')
										img(src='./img/photo.png')
										span.doctor__name ВОЛКОВ АНТОН МАКСИМОВИЧ #[br]
										span.doctor__spec врач-онколог
									a.specialist_enroll(href='#') Записаться
								li.specialist__item
									a(href='#')
										img(src='./img/photo.png')
										span.doctor__name ВОЛКОВ АНТОН МАКСИМОВИЧ #[br]
										span.doctor__spec врач-онколог
									a.specialist_enroll(href='#') Записаться
								li.specialist__item
									a(href='#')
										img(src='./img/photo.png')
										span.doctor__name ВОЛКОВ АНТОН МАКСИМОВИЧ #[br]
										span.doctor__spec врач-онколог
									a.specialist_enroll(href='#') Записаться

			section.avdicotxt
				div.container
					span.section-title Онкологический центр «СМ-Клиника» это —
					div.row.top40
						div.col-sm-6.col-md-6.col-lg-4
							div.avd-icotxt.avd-icotxt-one
								div.avd-icotxt-ico 
									img.adv-ico(src="#")
								p.block-title ПРОФЕССИОНАЛИЗМ
								p В центре работает более 30 квалифицированных врачей онкологов, среди которых есть кандидаты, доктора медицинских наук и профессора.
						div.col-sm-6.col-md-6.col-lg-4
							div.avd-icotxt.avd-icotxt-two
								p.block-title КОМПЛЕКСНЫЙ ПОДХОД
								p План диагностики и лечения разрабатывается целой группой специалистов в составе лечащего врача-онколога, хирурга, радиолога, химиотерапевта, реабилитолога. 
						div.col-sm-6.col-md-6.col-lg-4
							div.avd-icotxt.avd-icotxt-three
								p.block-title СТАЦИОНАРНОЕ ЛЕЧЕНИЕ
								p В центре работает более 30 квалифицированных врачей онкологов, среди которых есть кандидаты, доктора медицинских наук и профессора.
						div.col-sm-6.col-md-6.col-lg-4
							div.avd-icotxt.avd-icotxt-four
								p.block-title СОВРЕМЕННОЕ ОБОРУДОВАНИЕ
								p В центре работает более 30 квалифицированных врачей онкологов, среди которых есть кандидаты, доктора медицинских наук и профессора.
						div.col-sm-6.col-md-6.col-lg-4
							div.avd-icotxt.avd-icotxt-five
								p.block-title ВЫСОКИЙ УРОВЕНЬ ОБСЛУЖИВАНИЯ
								p В центре работает более 30 квалифицированных врачей онкологов, среди которых есть кандидаты, доктора медицинских наук и профессора.
						div.col-sm-6.col-md-6.col-lg-4
							div.avd-icotxt.avd-icotxt-six
								p.block-title СЛУЖБА ПОМОЩИ НА ДОМУ
								p В центре работает более 30 квалифицированных врачей онкологов, среди которых есть кандидаты, доктора медицинских наук и профессора.
			section.bottom-map
				div.map__container
					<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Aa4c0cbdfe66cbbe2912dac9af9c426b0d9ba53de2585f899b615a2d363d33b5e&amp;width=100%25&amp;height=600&amp;lang=ru_RU&amp;scroll=false"></script>
				div.container
					div.map__legend
						img(src='./img/sm-dunay.jpg')
						p Дунайский пр., д. 47 (м. Купчино)
						span Ежедневно с 09:00 до 22:00
					
		footer.footer
			div.container
				div.row
					div.col-sm-6.col-md-3.col-lg-3
						div.footer-col__title Some title
						ul.footer_menu
							li
								a(href='#') О центре
							li
								a(href='#') О центре
							li
								a(href='#') О центре
							li
								a(href='#') О центре
					div.col-sm-6.col-md-3.col-lg-3
						div.footer-col__title Some title
						ul.footer_menu
							li
								a(href='#') О центре
							li
								a(href='#') О центре
							li
								a(href='#') О центре
							li
								a(href='#') О центре
					div.col-sm-6.col-md-3.col-lg-3
						div.footer-col__title Some title
						ul.footer_menu
							li
								a(href='#') О центре
							li
								a(href='#') О центре
							li
								a(href='#') О центре
							li
								a(href='#') О центре
					div.col-sm-6.col-md-3.col-lg-3
						div.footer-col__title Some title
						ul.footer_menu
							li
								a(href='#') О центре
							li
								a(href='#') О центре
							li
								a(href='#') О центре
							li
								a(href='#') О центре
				div.row
					div.col-sm-12
						p.legal-offer Материалы, размещенные на данной странице, носят информационный характер и предназначены для образовательных целей. Посетители сайта не должны использовать их в качестве медицинских рекомендаций. Определение диагноза и выбор методики лечения остается исключительной прерогативой вашего лечащего врача! Компании, работающие под брендом "СМ-Клиника", не несут ответственности за возможные негативные последствия, возникшие в результате использования информации, размещенной на сайте centr-hirurgii-spb.ru. Специальные предложения не являются офертой! 
						a(href='#') Политика СМ-Клиника в отношении обработки персональных данных
						br
						img.ipnks(src='./img/ipnks.png')
		
		script(src='js/main.js')
